.venv/
bin/
dist/
build/
wheelhouse/
*.egg-info/
*.py[co]
.pyc
__pycache__/
.idea/
.toxcls
.tox

.coverage
*.deb
doc/_build/

# https://hyperpolyglot.org/lightweight-markup
# EisenRadio section
recorder/
*.db
*.json