include LICENSE.rst
include MANIFEST.in
include README.md
include eisenradio/app.py
include eisenradio/db.py
include eisenradio/gui.py
include eisenradio/py.typed
include eisenradio/schema.sql
include eisenradio/wsgi.py
include eisenradio/api/__init__.py
include eisenradio/eisenhome/__init__.py
include eisenradio/eisenhome/eishome.py
include eisenradio/eisenhome/routes.py
include eisenradio/eisenhome/watchdog.py
include eisenradio/eisenhome/bp_home_static/favicon.ico
include eisenradio/eisenhome/bp_home_static/css/style.css
include eisenradio/eisenhome/bp_home_static/images/frontpage/eisenposter350.png
include eisenradio/eisenhome/bp_home_static/images/frontpage/eisenposter480.png
include eisenradio/eisenhome/bp_home_static/images/frontpage/eisenposter620.png
include eisenradio/eisenhome/bp_home_static/images/frontpage/eisenposter950.png
include eisenradio/eisenhome/bp_home_static/jquery/jquery-3.6.0.min.js
include eisenradio/eisenhome/bp_home_static/js/animate.js
include eisenradio/eisenhome/bp_home_static/js/canvas.js
include eisenradio/eisenhome/bp_home_static/js/index.js
include eisenradio/eisenhome/bp_home_static/js/playlist.js
include eisenradio/eisenhome/bp_home_static/js/radioStyles.js
include eisenradio/eisenhome/bp_home_static/js/svgAnimation.js
include eisenradio/eisenhome/bp_home_templates/bp_home_base.html
include eisenradio/eisenhome/bp_home_templates/bp_home_index.html
include eisenradio/eisenhome/bp_home_templates/bp_home_page_flash.html
include eisenradio/eisenutil/__init__.py
include eisenradio/eisenutil/browser_stream.py
include eisenradio/eisenutil/config_html.py
include eisenradio/eisenutil/eisutil.py
include eisenradio/eisenutil/monitor_records.py
include eisenradio/eisenutil/request_info.py
include eisenradio/eisenutil/routes.py
include eisenradio/eisenutil/stopped_stations.py
include eisenradio/eisenutil/tools.py
include eisenradio/eisenutil/bp_util_static/favicon.png
include eisenradio/eisenutil/bp_util_static/css/style.css
include eisenradio/eisenutil/bp_util_static/css/body-background.png
include eisenradio/eisenutil/bp_util_static/images/getaradiourl.svg
include eisenradio/eisenutil/bp_util_static/images/python-powered-w-100x40.png
include eisenradio/eisenutil/bp_util_static/jquery/jquery-3.6.0.min.js
include eisenradio/eisenutil/bp_util_static/js/bp_util.js
include eisenradio/eisenutil/bp_util_templates/bp_util_aac_repair.html
include eisenradio/eisenutil/bp_util_templates/bp_util_about.html
include eisenradio/eisenutil/bp_util_templates/bp_util_base.html
include eisenradio/eisenutil/bp_util_templates/bp_util_create.html
include eisenradio/eisenutil/bp_util_templates/bp_util_edit.html
include eisenradio/eisenutil/bp_util_templates/bp_util_flash.html
include eisenradio/eisenutil/bp_util_templates/bp_util_post.html
include eisenradio/eisenutil/bp_util_templates/bp_util_radio_all_blacklist.html
include eisenradio/eisenutil/bp_util_templates/bp_util_radio_blacklist.html
include eisenradio/eisenutil/bp_util_templates/bp_util_save.html
include eisenradio/eisenutil/bp_util_templates/bp_util_skip_blacklist.html
include eisenradio/eisenutil/bp_util_templates/bp_util_tools.html
include eisenradio/instance/config.py
include eisenradio/instance/config_apfac.py
include eisenradio/lib/__init__.py
include eisenradio/lib/eisdb.py
include eisenradio/lib/platform_helper.py
include eisenradio/instance/.env
include eisenradio/instance/config.py
include eisenradio/instance/config_apfac.py
include eisenradio/static/images/styles/small/mixer-construction-site.jpg
include eisenradio/static/images/styles/small/mixer-reload.jpg
include eisenradio/static/images/styles/small/mixer-tempelhof-airport.jpg
include eisenradio/static/images/styles/small/drum_snail.png
include eisenradio/static/images/styles/small/radio3d-style-neon-blue_120x200.png
include eisenradio/static/images/styles/small/radio3d-style-white-black_120x200.png
include eisenradio/static/images/styles/small/radio3d-style-white-blue_120x200.png
include eisenradio/static/images/styles/small/radio3d-style-white-brown_120x200.png
include eisenradio/static/images/styles/small/radio3d-style-white-chocklate_120x200.png
include eisenradio/static/images/styles/small/radio3d-style-white-green_120x200.png
include eisenradio/static/images/styles/small/radio3d-style-whiteneongelb_120x200.png
include eisenradio/static/images/styles/small/radio3d-style-white-neongreen_120x200.png
include eisenradio/static/images/styles/small/radio3d-style-white-red_120x200.png
include eisenradio/static/images/styles/small/radio3d-style-white-violet_120x200.png
include eisenradio/static/images/styles/small/radio3d-style-white-white_120x200.png
include eisenradio/test/functional/test_routes.py
prune venv
recursive-include docs *
prune docs/build