{% extends 'bp_util_base.html' %}

{% block content %}
<hr>
<h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>
<hr>
<form method="POST" enctype="multipart/form-data" id="editFormPage">
    <!-- NAME-->
    <div class="form-group">
        <p>Here is the place to delete and edit the radio.</p>
        <p>Your Radio name is used as the folder name. Spaces will be removed.</p>
        <label for="title"><b>Name</b> </label>
        <input type="text" name="title" id="title" placeholder="Post title"
               class="form-control"
               value="{{ post['title'] }}">
    </div>

    <!-- URL-->
    <div class="form-group">
        <label for="content"><b>URL</b> (web address)</label>
        <p style="color:red;font-size:14px;">App restart recommended!</p>
        <textarea name="content" id="content" placeholder="Post content"
                  class="form-control">{{ post['content'] }}</textarea>
    </div>

    <!-- Image Upload-->
    <div class="form-group">
        <label for="inputFile">Image input (jpg, png, bmp, gif, svg)</label>

        <input class="form-control-file" type="file" name="inputFile" id="inputFile">
    </div>


    <div id="divTransparentImageLoad" data-dataSetRadio='{{post["title"]}}'>
        <p>
            <label>
                <input type="checkbox" onclick="transparentImageLoad();" id="foo1">
            Checkbox to immediately replace the old image with a transparent one
            </label>
        </p>
    </div>

    <!-- Text description -->
    <div class="form-group">
        <p><label for="text">Write Text</label></p>
        <textarea class="form-control" name="text" id="text" rows="5"
                  placeholder="Your description">{{ post['pic_comment'] }}</textarea>

    </div>

    <!--        Button                 -->

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
</form>

<hr>
<form action="{{ url_for('eisenutil_bp.tools_radio_blacklist', radio_name=post['title']) }}">
    <button type="submit" class="btn btn-warning btn-sm">Blacklist</button>
</form>
<hr>

<form action="{{ url_for('eisenhome_bp.delete', id=post['id']) }}" method="POST">
    <input type="submit" class="btn btn-danger btn-sm" value="Delete Radio"
           onclick="return confirm('Are you sure you want to delete this radio?')">
</form>


<hr>
{% endblock %}
