[Desktop Entry]
Encoding=UTF-8
Version=2.4.1
Type=Application
Terminal=true
Exec=eisenradio
Icon=${SNAP}/meta/gui/eisenradio.png
Name=Eisenradio
Comment=Listen and cache multiple Radio stations content.
Categories=Audio;Utility;AudioVideo;